{% extends 'base.html' %}
{% block title %}Device {{dev_info_[0][1]}}{% endblock %}
{% block page_title %}{% endblock %}
{% set headers = ['EUI', 'Name', 'Latitude', 'Longitude', 'Altitude'] %}
{% set common_data_headers = ['Date', 'Frame Counter'] %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col s6">
        <p class="font-30">{{dev_info_[0][1]}}</p>
      </div>
      <div class="col s6">
        <a type="button" href="{{ url_for('devicegraph', dev=dev_info_[0][0]) }}" class="btn btn-warning">Download</a>
        <a type="button" href="{{ url_for('devicegraph', dev=dev_info_[0][0]) }}" class="btn btn-danger">Clear data</a>
        <a type="button" href="{{ url_for('devicegraph', dev=dev_info_[0][0]) }}" class="btn btn-info">Back to graph</a>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <p>Last Uplinks</p>
        {% if dev_data_ %}
          <table class="table table-bordered">
            <thead>
              <tr>
                {% for header in common_data_headers %}
                  <th>{{ header }}</th>
                {% endfor %}
                {% for header in dev_data_[0][3] %}
                  <th>{{ header }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for row in dev_data_ %}
                <tr>
                  {% for value in [1, 2] %}
                    <td>{{ row[value] }}</td>
                  {% endfor %}
                  {% for key, value in row[3].items() %}
                    <td>{{ value }}</td>
                  {% endfor %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <p>No data received yet</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
