{% extends 'base.html' %}
{% set headers = ['EUI', 'Name', 'Latitude', 'Longitude', 'Altitude'] %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col s12">
        <p class="center-align">{{gat_info_[0][1]}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col s3">
        <p>DATA</p>
        <table>
          {% for header in headers %}
          <tr>
            <th>{{ header }}</th>
            <td>{{ gat_info_[0][loop.index0] }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
      <div class="col s9">
        <p>Last activity</p>
      </div>
    </div>
  </div>
{% endblock %}
