<!-- Include the Mapbox GL JS library -->
<script src="https://api.mapbox.com/mapbox-gl-js/v2.5.1/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v2.5.1/mapbox-gl.css" rel="stylesheet" />

<!-- Create a container for the map -->
<div id="map" style="height: 400px;"></div>

<!-- Add your Mapbox access token -->
<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoiYWx2YXJvcmciLCJhIjoiY2xpdW1iNGExMDE3YzNxcWgyd3ZkMGQ4aiJ9.AgQTU3uOI4KM4jHn1kN9cw';

  // Initialize the map
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [-16.312181353569, 28.4791597223082],
    zoom: 12
  });

  // Add markers for device locations
  var devices = [
    ['a8404181c18279bc', 'HyT-DRAGINO', 28.4791597223082, -16.312181353569, 12],
    ['24e124600c062721', 'OcuppancySensor-Milesight', 28.4791597223082, -16.312181353569, 12],
    ['a84041a8318279bb', 'HyT-DRAGINO-2', 28.4791597223082, -16.312181353569, 12]
  ];

  devices.forEach(function(device) {
    var marker = new mapboxgl.Marker()
      .setLngLat([device[3], device[2]])
      .setPopup(new mapboxgl.Popup().setHTML('<b>' + device[1] + '</b><br>' + device[0]))
      .addTo(map);
  });
</script>
